<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }} - South Bay Area Security Meetup</title>
   <meta name="author" content="Brett Hardin" />
   
   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>


<body>

<a href="http://github.com/bhardin"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

<div class="site">
  <div class="title">
    <h1><a href="/">silisec</a></h1>
    <h3>Silicon Valley Security Meetup</h3>
    
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <ul>
        <li><a href="http://twitter.com/#!/silisec">Twitter</a></li>
        <li><a href="http://www.facebook.com/silisec">Facebook</a></li>      
      
      <li class="copyright">
        Brought to you by <a href="https://github.com/bhardin/silisec">some folks.</a>
      </li>
      </ul>
    </div>
      
  </div>
</div>

</body>
</html>
